<p>home works!</p>


<form action="">
    <input type="text" name="newTask" id="" [(ngModel)]="newTask">
    <button (click)="onAddTask(newTask)">ADD</button>
    <p>task: {{newTask}}</p>
</form>

<table border="1">
    <tr>
        <td>id</td>
        <td>task</td>
        <td>completed</td>
        <td>action</td>
    </tr>

    <tr *ngFor="let task of tasks">
        <td>{{task.id}}</td>
        <td>{{task.description}}</td>
        <td>{{task.completed}}</td>
        <td><button (click)="onDeleteTask(task.id)">DELETE</button></td>
    </tr>
</table>

  